.header-options {
    z-index: 10;
    user-select: none;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.options-menu {
    z-index: 1;
    position: absolute;
    padding-top: 50px;
    transform: translateX(-100%);
    width: 450px;
    height: 100vh;
    background: var(--background);
    transition: 0.3s ease-in-out;
}

.transparent {
    background: transparent;
}

.options-tab {
    display: flex;
    justify-content: space-between;
    user-select: none;
    padding: 15px;
    /* background: var(--active); */
}

.options-menu-active {
    transform: translateX(0%);
}

.toggle-switch {
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    overflow: visible;
    position: relative;
    background: var(--red);
}

.toggle-switch.unrendered {
    filter: grayscale(100%);
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    transition: transform 0.2s;
}

.toggle-switch-active {
    background: var(--active);
}

.toggle-switch-active::before {
    transform: translateX(100%);
}


/* doesnt work :\ vvv */

/* .options-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
} */